html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.container {
    text-align: center;
    padding-top: 12em;
}

.navbar li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
    padding: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: white;
    text-align: center;
    position:fixed
  }

.footer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding: 10px;
    bottom:0;
    height:60px;   /* Height of the footer */
}

.search {
    height: 3em;
    width: 40em;
    border-radius: 10px;
}

